.black-shade{
    background-color:black;
}
.black-shade-1{
    @extend .black-shade;
    color:$sky-blue;
}
.black-shade-2{
    @extend .black-shade;
    color:$light-blue;
}
.black-shade-3{
    @extend .black-shade;
    color:white;
}

.dark-shade{
    background-color:$dark-blue;
}
.dark-shade-1{
    @extend .dark-shade;
    color:$sky-blue;
}
.dark-shade-2{
    @extend .dark-shade;
    color:$light-blue;
}
.dark-shade-3{
    @extend .dark-shade;
    color:white;
}
.normal-shade{
    background-color:$normal-blue;
}
.normal-shade-1{
    @extend .normal-shade;
    color:$sky-blue;
}
.normal-shade-2{
    @extend .normal-shade;
    color:white;
}
.light-shade{
    background-color:$light-blue;
}
.light-shade-1{
    @extend .light-shade;
    color:black;
}
.light-shade-2{
    @extend .light-shade;
    color:$dark-blue;
}
.sky-shade{
    background-color:$sky-blue;
}
.sky-shade-1{
    @extend .sky-shade;
    color:black;
}
.sky-shade-2{
    @extend .sky-shade;
    color:$dark-blue;
}
.sky-shade-3{
    @extend .sky-shade;
    color:$normal-blue;
}

// White Shade

.white-shade{
    background-color:white;
}
.white-shade-1{
    @extend .white-shade;
    color:black;
}
.white-shade-2{
    @extend .white-shade;
    color:$dark-blue;
}
.white-shade-3{
    @extend .white-shade;
    color:$normal-blue;
}
