.mybutton{
    padding:10px 15px;
    border-radius:7px;
}

.white-on-black{
    background-color:black;
    color:white;
    a{
        background-color:white;
        color:black;
        @extend .mybutton;
        border:2px solid white;
        font-size:16px;
        margin:10px;
    }
    a:hover{
        background-color:black;
        color:white;
    }
}

.white-on-darkblue{
    background-color:$dark-blue;
    color:white;
    a{
        background-color:white;
        color:$dark-blue;
        @extend .mybutton;
        border:2px solid white;
        font-size:16px;
        margin:10px;
    }
    a:hover{
        background-color:$dark-blue;
        color:white;
    }
}
.white-on-normalblue{
    background-color:$normal-blue;
    color:white;
    a{
        background-color:white;
        color:$dark-blue;
        @extend .mybutton;
        border:2px solid white;
        font-size:16px;
        margin:10px;
    }
    a:hover{
        background-color:$dark-blue;
        color:white;
    }
}

.black-on-lightblue{
    background-color:$light-blue;
    color:black;
}

.black-on-skyblue{
    background-color:$sky-blue;
    color:black;
}

.black-on-white{
    background-color:white;
    color:black;
}


