@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

body{
    font-family: "Lexend","Tiro Devanagari Hindi", sans-serif;
    font-optical-sizing: auto;
}

@import "colors";

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.lexend-100 {
    @extend .lexend;
    font-weight: 100;

  }
  .lexend-300 {
    @extend .lexend;
    font-weight: 300;

  }
  .lexend-500 {
    @extend .lexend;
    font-weight: 100;

  }
.shade-1{
    background-color:$dark-blue;
    color:$sky-blue;
    @extend .lexend-100;

}
.shade-2{
    background-color:$dark-blue;
    color:$light-blue;
}
.shade-3{
    background-color:$dark-blue;
    color:white;
}